---
import type { Participant } from '../../types/types'
const { participant } = Astro.props as { participant: Participant }
---

<article
    class="cursor-pointer flex flex-col justify-center gap-4 h-sm hover:scale-110 transition-all hover:-translate-y-8 [&>div]:hover:visible max-w-[250px]"
>
    <img
        src={participant.img}
        alt={`Imagen de ${participant.name}`}
        class="rounded-full transition-all cursor-pointer object-fill m-auto"
    />
    <div class="text-gray-400 text-lg lg:invisible">
        <h3
            class="text-2xl text-gradient font-extrabold"
        >
            {participant.name}
        </h3>
        <h3>{participant.type} - {participant.title}</h3>
    </div>
</article>
