---
import Countdown from '../components/Countdown.jsx'
import Header from '../components/Header.astro'
import Ticket from '../components/Ticket/Ticket'
import Faq from '../components/Faq.jsx'
import '../../public/global.css'
import Schedule from '../components/Schedule.astro'
const usernameTicket = Astro.url.searchParams.get('username') ?? ''

const ogImage = usernameTicket
    ? `https://bfbnlgbiigcabrdmrjeb.supabase.co/storage/v1/object/public/Tickets%20Images/Ticket-de-@${usernameTicket}.png`
    : 'https://afor.show/aforshow.png'

const ogTitle =
    (usernameTicket ? `Ticket de @${usernameTicket}` : 'AforShow') +
    ' -  Evento de programacion de charlas y talleres para la comunidad'
---

<html lang="es" class="scroll-smooth">
    <link rel="icon" type="image/png" href="/icon.png" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@afordigital" />
    <meta name="twitter:creator" content="@afordigital" />
    <meta name="twitter:image" content={ogImage} />
    <meta property="twitter:url" content={`https://afor.show/`} />
    <meta property="twitter:type" content="website" />
    <meta name="twitter:title" content={ogTitle} />
    <meta name="twitter:description" content={ogTitle} />

    <meta property="og:type" content="website" />
    <meta name="og:image" content={ogImage} />
    <meta name="og:card" content="summary_large_image" />
    <meta name="og:site" content="@afordigital" />
    <meta name="og:creator" content="@afordigital" />

    <meta name="og:title" content={ogTitle} />
    <meta name="og:description" content={ogTitle} />
    <meta property="og:url" content={`https://afor.show/`} />
    <meta property="og:image" content="https://afor.show/aforshow.png" />

    <title>
        Aforshow - Evento de programacion de charlas y talleres para la
        comunidad de afor
    </title>

    <body
        class="bg-[url('/bg_section.webp')] bg-fixed bg-cover bg-center container m-auto"
    >
        <Header />
        <main>
            <section
                class="py-16 flex flex-col text-center gap-[3rem]"
                id="countdown"
            >
                <h3 class="text-gray-400 text-2xl">Quedan</h3>
                <Countdown
                    client:only="react"
                    date="2023-07-21T20:00:00+02:00"
                />
                <h3 class="text-gray-400 text-2xl">
                    Para el <span class="font-bold">AforShow</span>
                </h3>
            </section>
            <Schedule />
            <Ticket client:load />
            <Faq client:only="react" />
        </main>
        <footer>
            <p class="text-gray-400 text-lg md:text-2xl text-center pb-16">
                Para tener todas las noticias únete a: <a
                    class="transition-all font-extrabold text-lg md:text-2xl text-transparent bg-clip-text bg-gradient-to-r from-[#FEAC5E] via-[#C779D0] to-[#4BC0C8]"
                    href="https://discord.io/Comu-Afor"
                    target="_blank"
                    rel="noopener noreferrer">Discord</a
                >
            </p>
        </footer>
    </body>
</html>
